.root {
  padding: 2rem;
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%);
  grid-gap: 1rem;
  gap: 1rem;

  .input {
    margin-bottom: 1rem;
    border-color: #b53d00;
  }

  .button {
    margin-bottom: 1rem;
  }

  .table {
    width: 14rem;

    .header {
      display: grid;
      gap: 0.5rem;
      grid-gap: 0.5rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 0.25rem;

      .annotation {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(2rem - 2px);
      }
    }

    .row {
      display: grid;
      gap: 0.5rem;
      grid-gap: 0.5rem;
      grid-template-columns: 0.5fr 1fr 1fr 1fr;
      padding: 0.25rem;
      border-radius: 6px;

      &.active {
        background: #e5ffff;
      }

      .annotation {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(3rem - 2px);
      }

      .cell {
        border: 1px solid #ef6c00;
        border-radius: 6px;
        height: 3rem;
        text-align: center;

        &:hover {
          box-shadow: 0 0 5px #ff9d3f;
        }

        .inner {
          margin: 2px;
          height: calc(3rem - 4px);
          border-radius: 4px;
          cursor: pointer;
        }

        &.active .inner {
          background: #009688;
        }
      }
    }
  }
}
